infrastructure/simulators/nodered/flows/edge-simulator.json
[
    {
        "id": "edge-flow",
        "type": "tab",
        "label": "Edge Device Simulator",
        "disabled": false,
        "info": "Industrial IoT Edge Device Simulator - Simulates Revolution Pi and Industrial PC controllers sending heartbeat data to cloud"
    },
    {
        "id": "comment-devices",
        "type": "comment",
        "z": "edge-flow",
        "name": "=== EDGE DEVICE HEARTBEAT SIMULATOR ===",
        "info": "Simulates edge controllers (Revolution Pi, Industrial PC) sending periodic health metrics to cloud via MQTT",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject-birth",
        "type": "inject",
        "z": "edge-flow",
        "name": "On Deploy: Send Birth",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [["birth-handler"]]
    },
    {
        "id": "birth-handler",
        "type": "function",
        "z": "edge-flow",
        "name": "Send Birth Certificates",
        "func": "// Edge device configurations\nconst devices = [\n    {\n        code: 'RPI-SIM-001',\n        name: 'Revolution Pi Simulator 1',\n        model: 'REVOLUTION_PI_CONNECT_4',\n        firmware: '2.5.1-sim',\n        ip: '192.168.1.101'\n    },\n    {\n        code: 'IPC-SIM-001',\n        name: 'Industrial PC Simulator',\n        model: 'INDUSTRIAL_PC',\n        firmware: '3.0.0-sim',\n        ip: '192.168.1.102'\n    }\n];\n\n// Initialize device state\nlet deviceStates = {};\ndevices.forEach(dev => {\n    deviceStates[dev.code] = {\n        config: dev,\n        uptimeSeconds: 0,\n        cpuUsage: 20 + Math.random() * 20,\n        memoryUsage: 40 + Math.random() * 20,\n        storageUsage: 25 + Math.random() * 15,\n        temperatureCelsius: 38 + Math.random() * 10\n    };\n});\nflow.set('deviceStates', deviceStates);\n\n// Send birth certificate for each device\nconst messages = devices.map(dev => ({\n    topic: `edge/${dev.code}/birth`,\n    payload: {\n        deviceCode: dev.code,\n        timestamp: new Date().toISOString(),\n        firmwareVersion: dev.firmware,\n        ipAddress: dev.ip,\n        properties: {\n            hardwareMake: dev.model.includes('REVOLUTION') ? 'KUNBUS' : 'Custom',\n            hardwareModel: dev.model,\n            firmwareVersion: dev.firmware\n        }\n    }\n}));\n\nnode.status({ fill: 'green', shape: 'dot', text: `${devices.length} devices born` });\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [["mqtt-out-edge"]]
    },
    {
        "id": "inject-heartbeat",
        "type": "inject",
        "z": "edge-flow",
        "name": "Every 10 seconds (Heartbeat)",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [["heartbeat-generator"]]
    },
    {
        "id": "heartbeat-generator",
        "type": "function",
        "z": "edge-flow",
        "name": "Generate Heartbeat Data",
        "func": "const deviceStates = flow.get('deviceStates') || {};\nconst messages = [];\n\nfor (let code in deviceStates) {\n    const state = deviceStates[code];\n    const config = state.config;\n    \n    // Update uptime\n    state.uptimeSeconds += 10;\n    \n    // Simulate realistic metric variations\n    // CPU: varies between 15-75% with occasional spikes\n    const cpuSpike = Math.random() < 0.1 ? 30 : 0; // 10% chance of spike\n    state.cpuUsage = Math.max(15, Math.min(85, state.cpuUsage + (Math.random() - 0.5) * 10 + cpuSpike));\n    \n    // Memory: slowly increases, occasionally drops (GC)\n    const gcDrop = Math.random() < 0.05 ? -15 : 0; // 5% chance of GC\n    state.memoryUsage = Math.max(35, Math.min(80, state.memoryUsage + Math.random() * 2 - 0.5 + gcDrop));\n    \n    // Storage: very slowly increases\n    state.storageUsage = Math.min(60, state.storageUsage + Math.random() * 0.01);\n    \n    // Temperature: varies with CPU, ambient temperature simulation\n    const cpuHeat = state.cpuUsage * 0.2;\n    state.temperatureCelsius = Math.max(35, Math.min(65, 35 + cpuHeat + (Math.random() - 0.5) * 3));\n    \n    // Create heartbeat message\n    messages.push({\n        topic: `edge/${code}/heartbeat`,\n        payload: {\n            deviceCode: code,\n            timestamp: new Date().toISOString(),\n            isOnline: true,\n            cpuUsage: Math.round(state.cpuUsage),\n            memoryUsage: Math.round(state.memoryUsage),\n            storageUsage: Math.round(state.storageUsage),\n            temperatureCelsius: +state.temperatureCelsius.toFixed(1),\n            uptimeSeconds: state.uptimeSeconds,\n            firmwareVersion: config.firmware,\n            ipAddress: config.ip\n        }\n    });\n}\n\nflow.set('deviceStates', deviceStates);\n\nconst count = Object.keys(deviceStates).length;\nnode.status({ fill: 'blue', shape: 'ring', text: `${count} heartbeats sent` });\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [["mqtt-out-edge", "debug-heartbeat"]]
    },
    {
        "id": "comment-commands",
        "type": "comment",
        "z": "edge-flow",
        "name": "=== COMMAND HANDLING ===",
        "info": "Handle commands from cloud (ping, reboot, config)",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt-in-ping",
        "type": "mqtt in",
        "z": "edge-flow",
        "name": "Ping Commands",
        "topic": "edge/+/cmd/ping",
        "qos": "1",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [["ping-handler"]]
    },
    {
        "id": "ping-handler",
        "type": "function",
        "z": "edge-flow",
        "name": "Handle Ping",
        "func": "const topicParts = msg.topic.split('/');\nconst deviceCode = topicParts[1];\nconst commandId = msg.payload.commandId || 'unknown';\n\n// Simulate network latency (10-50ms)\nconst latency = Math.floor(10 + Math.random() * 40);\n\nmsg.topic = `edge/${deviceCode}/response`;\nmsg.payload = {\n    commandId: commandId,\n    command: 'ping',\n    success: true,\n    data: {\n        pong: true,\n        latencyMs: latency,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `Ping response: ${deviceCode}` });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 360,
        "wires": [["mqtt-out-edge", "debug-response"]]
    },
    {
        "id": "mqtt-in-reboot",
        "type": "mqtt in",
        "z": "edge-flow",
        "name": "Reboot Commands",
        "topic": "edge/+/cmd/reboot",
        "qos": "1",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [["reboot-handler"]]
    },
    {
        "id": "reboot-handler",
        "type": "function",
        "z": "edge-flow",
        "name": "Handle Reboot (Simulated)",
        "func": "const topicParts = msg.topic.split('/');\nconst deviceCode = topicParts[1];\nconst reason = msg.payload.reason || 'User request';\n\n// Send death message first\nconst deathMsg = {\n    topic: `edge/${deviceCode}/death`,\n    payload: {\n        deviceCode: deviceCode,\n        timestamp: new Date().toISOString(),\n        reason: `Reboot requested: ${reason}`\n    }\n};\n\n// Reset device state\nlet deviceStates = flow.get('deviceStates') || {};\nif (deviceStates[deviceCode]) {\n    deviceStates[deviceCode].uptimeSeconds = 0;\n    deviceStates[deviceCode].cpuUsage = 25;\n    deviceStates[deviceCode].memoryUsage = 45;\n    flow.set('deviceStates', deviceStates);\n}\n\n// Schedule birth after 5 seconds (simulated reboot time)\ncontext.set('pendingBirth', {\n    deviceCode: deviceCode,\n    config: deviceStates[deviceCode]?.config\n});\n\nnode.status({ fill: 'yellow', shape: 'ring', text: `Rebooting: ${deviceCode}` });\n\n// Return death message now, birth will come from delayed inject\nreturn deathMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 420,
        "wires": [["mqtt-out-edge", "delay-reboot"]]
    },
    {
        "id": "delay-reboot",
        "type": "delay",
        "z": "edge-flow",
        "name": "Reboot Delay (5s)",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 630,
        "y": 420,
        "wires": [["reboot-birth"]]
    },
    {
        "id": "reboot-birth",
        "type": "function",
        "z": "edge-flow",
        "name": "Send Birth After Reboot",
        "func": "const topicParts = msg.topic.split('/');\nconst deviceCode = topicParts[1];\n\nconst deviceStates = flow.get('deviceStates') || {};\nconst state = deviceStates[deviceCode];\n\nif (!state) {\n    node.warn('Unknown device after reboot: ' + deviceCode);\n    return null;\n}\n\nconst config = state.config;\n\nmsg.topic = `edge/${deviceCode}/birth`;\nmsg.payload = {\n    deviceCode: deviceCode,\n    timestamp: new Date().toISOString(),\n    firmwareVersion: config.firmware,\n    ipAddress: config.ip,\n    properties: {\n        hardwareMake: config.model.includes('REVOLUTION') ? 'KUNBUS' : 'Custom',\n        hardwareModel: config.model,\n        firmwareVersion: config.firmware,\n        rebootComplete: true\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `Reboot complete: ${deviceCode}` });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 420,
        "wires": [["mqtt-out-edge"]]
    },
    {
        "id": "mqtt-in-config",
        "type": "mqtt in",
        "z": "edge-flow",
        "name": "Config Commands",
        "topic": "edge/+/cmd/config",
        "qos": "1",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 480,
        "wires": [["config-handler"]]
    },
    {
        "id": "config-handler",
        "type": "function",
        "z": "edge-flow",
        "name": "Handle Config Update",
        "func": "const topicParts = msg.topic.split('/');\nconst deviceCode = topicParts[1];\nconst commandId = msg.payload.commandId || 'unknown';\nconst newConfig = msg.payload.config || {};\n\nmsg.topic = `edge/${deviceCode}/response`;\nmsg.payload = {\n    commandId: commandId,\n    command: 'config',\n    success: true,\n    data: {\n        applied: true,\n        config: newConfig,\n        timestamp: new Date().toISOString()\n    }\n};\n\nnode.status({ fill: 'green', shape: 'dot', text: `Config updated: ${deviceCode}` });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 480,
        "wires": [["mqtt-out-edge", "debug-response"]]
    },
    {
        "id": "mqtt-out-edge",
        "type": "mqtt out",
        "z": "edge-flow",
        "name": "Publish Edge Messages",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "broker1",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-heartbeat",
        "type": "debug",
        "z": "edge-flow",
        "name": "Heartbeat Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.deviceCode",
        "statusType": "auto",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug-response",
        "type": "debug",
        "z": "edge-flow",
        "name": "Response Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.command",
        "statusType": "auto",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "comment-status",
        "type": "comment",
        "z": "edge-flow",
        "name": "=== PERIODIC STATUS BROADCAST ===",
        "info": "Broadcast all devices status every 30 seconds",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "inject-status",
        "type": "inject",
        "z": "edge-flow",
        "name": "Every 30 seconds",
        "props": [{"p": "payload"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 640,
        "wires": [["status-broadcast"]]
    },
    {
        "id": "status-broadcast",
        "type": "function",
        "z": "edge-flow",
        "name": "Broadcast Fleet Status",
        "func": "const deviceStates = flow.get('deviceStates') || {};\nconst fleet = [];\n\nfor (let code in deviceStates) {\n    const state = deviceStates[code];\n    fleet.push({\n        deviceCode: code,\n        deviceName: state.config.name,\n        model: state.config.model,\n        isOnline: true,\n        cpuUsage: Math.round(state.cpuUsage),\n        memoryUsage: Math.round(state.memoryUsage),\n        storageUsage: Math.round(state.storageUsage),\n        temperatureCelsius: +state.temperatureCelsius.toFixed(1),\n        uptimeSeconds: state.uptimeSeconds,\n        firmwareVersion: state.config.firmware\n    });\n}\n\nmsg.topic = 'edge/fleet/status';\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    deviceCount: fleet.length,\n    onlineCount: fleet.length,\n    devices: fleet\n};\n\nnode.status({ fill: 'blue', shape: 'dot', text: `Fleet: ${fleet.length} devices` });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [["mqtt-out-edge", "debug-fleet"]]
    },
    {
        "id": "debug-fleet",
        "type": "debug",
        "z": "edge-flow",
        "name": "Fleet Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 640,
        "wires": []
    }
]
