infrastructure/simulators/nodered/flows/equipment-simulator.json
[
    {
        "id": "equipment-flow",
        "type": "tab",
        "label": "Equipment Simulator",
        "disabled": false,
        "info": "MQTT-based equipment simulator with realistic behavior (motors, valves, lights)"
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-simulator",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true
    },
    {
        "id": "comment-commands",
        "type": "comment",
        "z": "equipment-flow",
        "name": "=== KOMUT ALIMLARI ===",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt-in-motor",
        "type": "mqtt in",
        "z": "equipment-flow",
        "name": "Motor Commands",
        "topic": "equipment/command/motor/+",
        "qos": "1",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["motor-handler"]]
    },
    {
        "id": "mqtt-in-valve",
        "type": "mqtt in",
        "z": "equipment-flow",
        "name": "Valve Commands",
        "topic": "equipment/command/valve/+",
        "qos": "1",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [["valve-handler"]]
    },
    {
        "id": "mqtt-in-light",
        "type": "mqtt in",
        "z": "equipment-flow",
        "name": "Light Commands",
        "topic": "equipment/command/light/+",
        "qos": "1",
        "datatype": "json",
        "broker": "broker1",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [["light-handler"]]
    },
    {
        "id": "motor-handler",
        "type": "function",
        "z": "equipment-flow",
        "name": "Motor Command Handler",
        "func": "// Motor configurations\nconst motorConfigs = {\n    'MOTOR-VFD-001': { name: 'Ana Pompa', maxCurrent: 15, maxRpm: 3000 },\n    'MOTOR-VFD-002': { name: 'Sirkulasyon Pompasi', maxCurrent: 10, maxRpm: 2400 },\n    'MOTOR-VFD-003': { name: 'Transfer Pompasi', maxCurrent: 8, maxRpm: 1800 }\n};\n\n// Get or initialize motors state\nlet motors = flow.get('motors') || {};\nfor (let id in motorConfigs) {\n    if (!motors[id]) {\n        motors[id] = {\n            state: 'STOPPED',\n            speed: 0,\n            targetSpeed: 0,\n            current: 0,\n            rpm: 0,\n            runHours: 0,\n            config: motorConfigs[id]\n        };\n    }\n}\n\n// Extract deviceId from topic\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[topicParts.length - 1];\nconst cmd = msg.payload;\n\nif (!motors[deviceId]) {\n    node.warn('Unknown motor: ' + deviceId);\n    return null;\n}\n\nconst motor = motors[deviceId];\n\n// Process command\nswitch (cmd.action) {\n    case 'START':\n        motor.targetSpeed = cmd.speed || 100;\n        motor.state = 'STARTING';\n        break;\n    case 'STOP':\n        motor.targetSpeed = 0;\n        motor.state = 'STOPPING';\n        break;\n    case 'SET_SPEED':\n        if (motor.state === 'RUNNING' || motor.state === 'STARTING') {\n            motor.targetSpeed = cmd.speed || motor.targetSpeed;\n            if (motor.targetSpeed > motor.speed) {\n                motor.state = 'STARTING';\n            } else if (motor.targetSpeed < motor.speed) {\n                motor.state = 'STOPPING';\n            }\n        }\n        break;\n    case 'GET_STATUS':\n        // Just send current status\n        break;\n    default:\n        node.warn('Unknown action: ' + cmd.action);\n        return null;\n}\n\nflow.set('motors', motors);\n\n// Build status message\nmsg.topic = 'equipment/status/motor/' + deviceId;\nmsg.payload = {\n    deviceId: deviceId,\n    deviceType: 'motor',\n    name: motor.config.name,\n    state: motor.state,\n    speed: motor.speed,\n    targetSpeed: motor.targetSpeed,\n    current: motor.current,\n    rpm: motor.rpm,\n    runHours: motor.runHours,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [["mqtt-out-status", "debug-motor"]]
    },
    {
        "id": "valve-handler",
        "type": "function",
        "z": "equipment-flow",
        "name": "Valve Command Handler",
        "func": "// Valve configurations\nconst valveConfigs = {\n    'VALVE-001': { name: 'Giris Vanasi', transitionTime: 2000 },\n    'VALVE-002': { name: 'Cikis Vanasi', transitionTime: 2000 },\n    'VALVE-003': { name: 'Bypass Vanasi', transitionTime: 1500 }\n};\n\n// Get or initialize valves state\nlet valves = flow.get('valves') || {};\nfor (let id in valveConfigs) {\n    if (!valves[id]) {\n        valves[id] = {\n            state: 'CLOSED',\n            position: 0,\n            targetPosition: 0,\n            config: valveConfigs[id]\n        };\n    }\n}\n\n// Extract deviceId from topic\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[topicParts.length - 1];\nconst cmd = msg.payload;\n\nif (!valves[deviceId]) {\n    node.warn('Unknown valve: ' + deviceId);\n    return null;\n}\n\nconst valve = valves[deviceId];\n\n// Process command\nswitch (cmd.action) {\n    case 'OPEN':\n        valve.targetPosition = 100;\n        valve.state = 'OPENING';\n        break;\n    case 'CLOSE':\n        valve.targetPosition = 0;\n        valve.state = 'CLOSING';\n        break;\n    case 'TOGGLE':\n        if (valve.state === 'OPEN' || valve.state === 'OPENING') {\n            valve.targetPosition = 0;\n            valve.state = 'CLOSING';\n        } else {\n            valve.targetPosition = 100;\n            valve.state = 'OPENING';\n        }\n        break;\n    case 'GET_STATUS':\n        // Just send current status\n        break;\n    default:\n        node.warn('Unknown action: ' + cmd.action);\n        return null;\n}\n\nflow.set('valves', valves);\n\n// Build status message\nmsg.topic = 'equipment/status/valve/' + deviceId;\nmsg.payload = {\n    deviceId: deviceId,\n    deviceType: 'valve',\n    name: valve.config.name,\n    state: valve.state,\n    position: valve.position,\n    targetPosition: valve.targetPosition,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [["mqtt-out-status", "debug-valve"]]
    },
    {
        "id": "light-handler",
        "type": "function",
        "z": "equipment-flow",
        "name": "Light Command Handler",
        "func": "// Light configurations\nconst lightConfigs = {\n    'LIGHT-001': { name: 'Havuz Isigi', maxPower: 500 },\n    'LIGHT-002': { name: 'Ortam Isigi', maxPower: 200 }\n};\n\n// Get or initialize lights state\nlet lights = flow.get('lights') || {};\nfor (let id in lightConfigs) {\n    if (!lights[id]) {\n        lights[id] = {\n            state: 'OFF',\n            brightness: 0,\n            targetBrightness: 0,\n            power: 0,\n            config: lightConfigs[id]\n        };\n    }\n}\n\n// Extract deviceId from topic\nconst topicParts = msg.topic.split('/');\nconst deviceId = topicParts[topicParts.length - 1];\nconst cmd = msg.payload;\n\nif (!lights[deviceId]) {\n    node.warn('Unknown light: ' + deviceId);\n    return null;\n}\n\nconst light = lights[deviceId];\n\n// Process command\nswitch (cmd.action) {\n    case 'ON':\n        light.targetBrightness = 100;\n        light.state = 'ON';\n        break;\n    case 'OFF':\n        light.targetBrightness = 0;\n        light.state = 'OFF';\n        break;\n    case 'SET_BRIGHTNESS':\n        light.targetBrightness = Math.max(0, Math.min(100, cmd.brightness || 0));\n        light.state = light.targetBrightness > 0 ? 'ON' : 'OFF';\n        break;\n    case 'GET_STATUS':\n        // Just send current status\n        break;\n    default:\n        node.warn('Unknown action: ' + cmd.action);\n        return null;\n}\n\nflow.set('lights', lights);\n\n// Build status message\nmsg.topic = 'equipment/status/light/' + deviceId;\nmsg.payload = {\n    deviceId: deviceId,\n    deviceType: 'light',\n    name: light.config.name,\n    state: light.state,\n    brightness: light.brightness,\n    targetBrightness: light.targetBrightness,\n    power: light.power,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [["mqtt-out-status", "debug-light"]]
    },
    {
        "id": "mqtt-out-status",
        "type": "mqtt out",
        "z": "equipment-flow",
        "name": "Publish Status",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "broker": "broker1",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug-motor",
        "type": "debug",
        "z": "equipment-flow",
        "name": "Motor Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.state",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-valve",
        "type": "debug",
        "z": "equipment-flow",
        "name": "Valve Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.state",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-light",
        "type": "debug",
        "z": "equipment-flow",
        "name": "Light Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.state",
        "statusType": "auto",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "comment-simulation",
        "type": "comment",
        "z": "equipment-flow",
        "name": "=== SIMULASYON TICK ===",
        "info": "",
        "x": 150,
        "y": 320,
        "wires": []
    },
    {
        "id": "inject-tick",
        "type": "inject",
        "z": "equipment-flow",
        "name": "Every 500ms (Simulation Tick)",
        "props": [{"p": "payload"}],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 380,
        "wires": [["simulation-tick"]]
    },
    {
        "id": "simulation-tick",
        "type": "function",
        "z": "equipment-flow",
        "name": "Simulation Tick (Realistic Updates)",
        "func": "const vary = (val, pct) => val + (Math.random() - 0.5) * 2 * val * pct;\nconst TICK_INTERVAL = 0.5; // seconds\nconst messages = [];\n\n// === MOTOR SIMULATION ===\nlet motors = flow.get('motors') || {};\nfor (let deviceId in motors) {\n    const motor = motors[deviceId];\n    const config = motor.config;\n    let changed = false;\n    \n    // Speed ramping (soft start/stop)\n    const speedStep = 5; // % per tick (10% per second)\n    if (motor.speed < motor.targetSpeed) {\n        motor.speed = Math.min(motor.speed + speedStep, motor.targetSpeed);\n        changed = true;\n    } else if (motor.speed > motor.targetSpeed) {\n        motor.speed = Math.max(motor.speed - speedStep * 1.5, motor.targetSpeed); // Faster stop\n        changed = true;\n    }\n    \n    // State transitions\n    if (motor.state === 'STARTING' && motor.speed >= motor.targetSpeed && motor.speed > 0) {\n        motor.state = 'RUNNING';\n        changed = true;\n    } else if (motor.state === 'STOPPING' && motor.speed === 0) {\n        motor.state = 'STOPPED';\n        changed = true;\n    }\n    \n    // Calculate current and RPM based on speed\n    if (motor.speed > 0) {\n        // Current: higher at startup (1.5x), normalizes when running\n        const startupMultiplier = motor.state === 'STARTING' ? 1.5 : 1.0;\n        motor.current = +((config.maxCurrent * (motor.speed / 100) * startupMultiplier) * (1 + (Math.random() - 0.5) * 0.04)).toFixed(2);\n        \n        // RPM with small variation\n        motor.rpm = Math.round(config.maxRpm * (motor.speed / 100) * (1 + (Math.random() - 0.5) * 0.02));\n        \n        // Accumulate run hours\n        motor.runHours = +((motor.runHours || 0) + TICK_INTERVAL / 3600).toFixed(4);\n    } else {\n        motor.current = 0;\n        motor.rpm = 0;\n    }\n    \n    // Send status update if changed or every 2 seconds (4 ticks)\n    const tickCount = flow.get('tickCount') || 0;\n    if (changed || tickCount % 4 === 0) {\n        messages.push({\n            topic: 'equipment/status/motor/' + deviceId,\n            payload: {\n                deviceId: deviceId,\n                deviceType: 'motor',\n                name: config.name,\n                state: motor.state,\n                speed: motor.speed,\n                targetSpeed: motor.targetSpeed,\n                current: motor.current,\n                rpm: motor.rpm,\n                runHours: motor.runHours,\n                timestamp: new Date().toISOString()\n            }\n        });\n    }\n}\nflow.set('motors', motors);\n\n// === VALVE SIMULATION ===\nlet valves = flow.get('valves') || {};\nfor (let deviceId in valves) {\n    const valve = valves[deviceId];\n    const config = valve.config;\n    let changed = false;\n    \n    // Position change (based on transition time)\n    const positionStep = 100 / (config.transitionTime / 1000 / TICK_INTERVAL); // % per tick\n    \n    if (valve.position < valve.targetPosition) {\n        valve.position = Math.min(valve.position + positionStep, valve.targetPosition);\n        changed = true;\n    } else if (valve.position > valve.targetPosition) {\n        valve.position = Math.max(valve.position - positionStep, valve.targetPosition);\n        changed = true;\n    }\n    \n    // State transitions\n    if (valve.state === 'OPENING' && valve.position >= 100) {\n        valve.state = 'OPEN';\n        valve.position = 100;\n        changed = true;\n    } else if (valve.state === 'CLOSING' && valve.position <= 0) {\n        valve.state = 'CLOSED';\n        valve.position = 0;\n        changed = true;\n    }\n    \n    // Send status update if changed or every 2 seconds\n    const tickCount = flow.get('tickCount') || 0;\n    if (changed || tickCount % 4 === 0) {\n        messages.push({\n            topic: 'equipment/status/valve/' + deviceId,\n            payload: {\n                deviceId: deviceId,\n                deviceType: 'valve',\n                name: config.name,\n                state: valve.state,\n                position: Math.round(valve.position),\n                targetPosition: valve.targetPosition,\n                timestamp: new Date().toISOString()\n            }\n        });\n    }\n}\nflow.set('valves', valves);\n\n// === LIGHT SIMULATION ===\nlet lights = flow.get('lights') || {};\nfor (let deviceId in lights) {\n    const light = lights[deviceId];\n    const config = light.config;\n    let changed = false;\n    \n    // Brightness fade (1 second transition)\n    const brightnessStep = 100 / (1000 / 1000 / TICK_INTERVAL); // 100% per second\n    \n    if (light.brightness < light.targetBrightness) {\n        light.brightness = Math.min(light.brightness + brightnessStep, light.targetBrightness);\n        changed = true;\n    } else if (light.brightness > light.targetBrightness) {\n        light.brightness = Math.max(light.brightness - brightnessStep, light.targetBrightness);\n        changed = true;\n    }\n    \n    // Update state based on brightness\n    if (light.brightness > 0 && light.state !== 'ON') {\n        light.state = 'ON';\n        changed = true;\n    } else if (light.brightness === 0 && light.state !== 'OFF') {\n        light.state = 'OFF';\n        changed = true;\n    }\n    \n    // Calculate power consumption\n    light.power = Math.round(config.maxPower * (light.brightness / 100));\n    \n    // Send status update if changed or every 2 seconds\n    const tickCount = flow.get('tickCount') || 0;\n    if (changed || tickCount % 4 === 0) {\n        messages.push({\n            topic: 'equipment/status/light/' + deviceId,\n            payload: {\n                deviceId: deviceId,\n                deviceType: 'light',\n                name: config.name,\n                state: light.state,\n                brightness: Math.round(light.brightness),\n                targetBrightness: light.targetBrightness,\n                power: light.power,\n                timestamp: new Date().toISOString()\n            }\n        });\n    }\n}\nflow.set('lights', lights);\n\n// Increment tick counter\nflow.set('tickCount', (flow.get('tickCount') || 0) + 1);\n\n// Return all messages\nif (messages.length > 0) {\n    return [messages];\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Initialize equipment state on deploy\nconst motorConfigs = {\n    'MOTOR-VFD-001': { name: 'Ana Pompa', maxCurrent: 15, maxRpm: 3000 },\n    'MOTOR-VFD-002': { name: 'Sirkulasyon Pompasi', maxCurrent: 10, maxRpm: 2400 },\n    'MOTOR-VFD-003': { name: 'Transfer Pompasi', maxCurrent: 8, maxRpm: 1800 }\n};\n\nconst valveConfigs = {\n    'VALVE-001': { name: 'Giris Vanasi', transitionTime: 2000 },\n    'VALVE-002': { name: 'Cikis Vanasi', transitionTime: 2000 },\n    'VALVE-003': { name: 'Bypass Vanasi', transitionTime: 1500 }\n};\n\nconst lightConfigs = {\n    'LIGHT-001': { name: 'Havuz Isigi', maxPower: 500 },\n    'LIGHT-002': { name: 'Ortam Isigi', maxPower: 200 }\n};\n\n// Initialize motors\nlet motors = {};\nfor (let id in motorConfigs) {\n    motors[id] = {\n        state: 'STOPPED',\n        speed: 0,\n        targetSpeed: 0,\n        current: 0,\n        rpm: 0,\n        runHours: 0,\n        config: motorConfigs[id]\n    };\n}\nflow.set('motors', motors);\n\n// Initialize valves\nlet valves = {};\nfor (let id in valveConfigs) {\n    valves[id] = {\n        state: 'CLOSED',\n        position: 0,\n        targetPosition: 0,\n        config: valveConfigs[id]\n    };\n}\nflow.set('valves', valves);\n\n// Initialize lights\nlet lights = {};\nfor (let id in lightConfigs) {\n    lights[id] = {\n        state: 'OFF',\n        brightness: 0,\n        targetBrightness: 0,\n        power: 0,\n        config: lightConfigs[id]\n    };\n}\nflow.set('lights', lights);\n\nflow.set('tickCount', 0);",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [["mqtt-out-tick"]]
    },
    {
        "id": "mqtt-out-tick",
        "type": "mqtt out",
        "z": "equipment-flow",
        "name": "Publish Tick Status",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "broker1",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "comment-broadcast",
        "type": "comment",
        "z": "equipment-flow",
        "name": "=== PERIYODIK BROADCAST ===",
        "info": "",
        "x": 170,
        "y": 460,
        "wires": []
    },
    {
        "id": "inject-broadcast",
        "type": "inject",
        "z": "equipment-flow",
        "name": "Every 5 seconds (All Status)",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 520,
        "wires": [["broadcast-all"]]
    },
    {
        "id": "broadcast-all",
        "type": "function",
        "z": "equipment-flow",
        "name": "Broadcast All Equipment Status",
        "func": "const motors = flow.get('motors') || {};\nconst valves = flow.get('valves') || {};\nconst lights = flow.get('lights') || {};\n\nconst allStatus = {\n    timestamp: new Date().toISOString(),\n    motors: {},\n    valves: {},\n    lights: {}\n};\n\n// Collect motor statuses\nfor (let id in motors) {\n    const m = motors[id];\n    allStatus.motors[id] = {\n        deviceId: id,\n        name: m.config.name,\n        state: m.state,\n        speed: m.speed,\n        targetSpeed: m.targetSpeed,\n        current: m.current,\n        rpm: m.rpm,\n        runHours: m.runHours\n    };\n}\n\n// Collect valve statuses\nfor (let id in valves) {\n    const v = valves[id];\n    allStatus.valves[id] = {\n        deviceId: id,\n        name: v.config.name,\n        state: v.state,\n        position: Math.round(v.position),\n        targetPosition: v.targetPosition\n    };\n}\n\n// Collect light statuses\nfor (let id in lights) {\n    const l = lights[id];\n    allStatus.lights[id] = {\n        deviceId: id,\n        name: l.config.name,\n        state: l.state,\n        brightness: Math.round(l.brightness),\n        targetBrightness: l.targetBrightness,\n        power: l.power\n    };\n}\n\nmsg.topic = 'equipment/status/all';\nmsg.payload = allStatus;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [["mqtt-out-broadcast", "debug-broadcast"]]
    },
    {
        "id": "mqtt-out-broadcast",
        "type": "mqtt out",
        "z": "equipment-flow",
        "name": "Publish All Status",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "broker1",
        "x": 730,
        "y": 520,
        "wires": []
    },
    {
        "id": "debug-broadcast",
        "type": "debug",
        "z": "equipment-flow",
        "name": "All Equipment Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 580,
        "wires": []
    }
]
