infrastructure/simulators/nodered/flows/sensor-simulator.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "Sensor Simulator",
        "disabled": false,
        "info": "Aquaculture sensor data simulator"
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "flow1",
        "name": "Every 5 seconds",
        "props": [{"p": "payload"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [["func1"]]
    },
    {
        "id": "func1",
        "type": "function",
        "z": "flow1",
        "name": "Generate Water Quality Data",
        "func": "const vary = (val, pct) => +(val + (Math.random() - 0.5) * 2 * val * pct).toFixed(2); msg.payload = { deviceId: 'WQM-001', timestamp: new Date().toISOString(), ph: vary(7.2, 0.05), temperature: vary(28.5, 0.03), dissolved_oxygen: vary(6.8, 0.05), salinity: vary(32.1, 0.02), turbidity: vary(4.2, 0.1), ammonia: vary(0.02, 0.15) }; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [["mqtt1", "debug1"]]
    },
    {
        "id": "mqtt1",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Publish to MQTT",
        "topic": "sensors/farm-01/pool-01/water-quality",
        "qos": "0",
        "retain": "false",
        "broker": "broker1",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "flow1",
        "name": "Show Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "inject2",
        "type": "inject",
        "z": "flow1",
        "name": "Every 10 seconds",
        "props": [{"p": "payload"}],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [["func2"]]
    },
    {
        "id": "func2",
        "type": "function",
        "z": "flow1",
        "name": "Generate Temp Array",
        "func": "const vary = (val, pct) => +(val + (Math.random() - 0.5) * 2 * val * pct).toFixed(2); msg.payload = { deviceId: 'TEMP-ARRAY-001', timestamp: new Date().toISOString(), sensors: { surface: vary(29.1, 0.02), mid: vary(28.5, 0.02), bottom: vary(27.8, 0.02) } }; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [["mqtt2", "debug2"]]
    },
    {
        "id": "mqtt2",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Publish Temp Array",
        "topic": "sensors/farm-01/pool-02/temperature-array",
        "qos": "0",
        "retain": "false",
        "broker": "broker1",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug2",
        "type": "debug",
        "z": "flow1",
        "name": "Show Temps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject3",
        "type": "inject",
        "z": "flow1",
        "name": "Every 3 seconds",
        "props": [{"p": "payload"}],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 380,
        "wires": [["func3"]]
    },
    {
        "id": "func3",
        "type": "function",
        "z": "flow1",
        "name": "Generate Flow Data",
        "func": "const vary = (val, pct) => +(val + (Math.random() - 0.5) * 2 * val * pct).toFixed(2); msg.payload = { deviceId: 'FLOW-001', timestamp: new Date().toISOString(), flow_rate: vary(125.5, 0.05), pressure: vary(2.4, 0.03), valve_position: Math.floor(70 + Math.random() * 10) }; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 380,
        "wires": [["mqtt3", "debug3"]]
    },
    {
        "id": "mqtt3",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Publish Flow",
        "topic": "sensors/farm-01/system/flow",
        "qos": "0",
        "retain": "false",
        "broker": "broker1",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "debug3",
        "type": "debug",
        "z": "flow1",
        "name": "Show Flow",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-simulator",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
